<html>
	<head>
		
	</head>
	<body>
		<footer class="bg-dark text-center text-white" th:fragment="footer">
        <div class="container p-4">
    
        <div class="">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00ca3d" href="#!"><i class="bi bi-whatsapp"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"><i class="bi bi-github"></i></a>
        </div>
        <ul class="nav w-75 m-0 m-auto justify-content-around pt-5">
            <li class="nav-item ">
                <a href="portada.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item ">
                <a href="aboutUs.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="">Javier Prieto Ortiz</a>
        </div>
    </footer>
	</body>
</html>