<html>
	<head>
		
	</head>
	<body>
		<footer class="bg-dark text-center text-white" th:fragment="footer">
        <div class="container p-4">
    
        <div class="">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://www.youtube.com/watch?v=HtRos5fQrcI"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.youtube.com/watch?v=35XFAkwmU4c"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00ca3d" href="https://www.youtube.com/watch?v=eOOnOUBK7CQ"><i class="bi bi-whatsapp"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/Javi-Prieto"><i class="bi bi-github"></i></a>
        </div>
        <ul class="nav w-75 m-0 m-auto justify-content-around pt-5">
            <li class="nav-item ">
                <a th:href="@{/}" class="nav-link">Home</a>
            </li>
            <li class="nav-item ">
                <a th:href="@{/aboutUs}" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&cad=rja&uact=8&ved=2ahUKEwjSv86S3ov_AhUEzKQKHWOPDqQQtwJ6BAgHEAI&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DisioQPUiAVk&usg=AOvVaw324dsycImsgE94SXE2SenB" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
                <a href="https://www.youtube.com/watch?v=rPunrzkIpeo" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="">Javier Prieto Ortiz</a>
        </div>
    </footer>
	</body>
</html>