<html>
	<head>
		
	</head>
	<body>
		<nav class="navbar navbar-expand bg-dark navbar-dark bg-opacity-10 p-0" th:fragment="navBarAdmin">
        <div class="container m-0 p-0">
            <a class="navbar-brand p-0 m-0 w-100" th:href="@{/}">
                <img src="/img/Logo1.png" alt="Bootstrap" width="100" height="100">
            </a>
        </div>
        <div class=" container-fluid d-block opacity-100">
            <ul class="navbar-nav justify-content-center p-0">
                <li class="nav-item text-center">
                    <a th:href="@{/admin/ctrainerlist}"class="nav-link pe-5 ps-5">Monitores</a>
                </li>
                <li class="nav-item ">
                    <a href="Sala.html" class="nav-link pe-5  ps-5">Sala</a>
                </li>
                <li class="nav-item ">
                    <a th:href="@{/admin/ptrainerlist}" class="nav-link pe-5 ps-5">Entrenadores</a>
                </li>
            </ul>
        </div>
        <div class=" m-0 p-0 w-100 align-content-end d-grid flex-wrap " >
            <a class="p-0 m-0 d-flex flex-row-reverse pe-2" href="User.html" id="user">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </nav>
	</body>
</html>