<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ONI'S TEMPLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="icon" href="/img/Logo1.jpg">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="/js/animation.js" defer></script>
    <style>
        .social-link {
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            border-radius: 50%;
            transition: all 0.3s;
            font-size: 0.9rem;
            }

        .social-link:hover,
        .social-link:focus {
            background: #ddd;
            text-decoration: none;
            color: #555;
            }
    </style>
</head>
<body class="bg-black">
    
    <header>
        <nav th:replace="~{fragments/navBar::navBar}"></nav>
    </header>
    <div class="bg-light" >
        <div class="container py-5" data-aos="fade-up-right">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4 text-warning">Oni's Temple: Tu camino hacia la fuerza y el bienesta</h1>
              <p class="lead text-muted mb-0">¡Bienvenido a Oni's Temple! El gimnasio que te brinda todo lo necesario para alcanzar tus metas de acondicionamiento físico y salud. En nuestra amplia gama de servicios y modernas instalaciones, encontrarás el apoyo y la motivación que necesitas para superar tus límites y alcanzar tu mejor versión. Descubre cómo nuestras diversas funcionalidades pueden ayudarte a alcanzar tus objetivos de manera eficiente y efectiva.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/img/logo1.png" alt="" class="img-fluid"></div>
          </div>
        </div>
        <div class="bg-white py-5" data-aos="zoom-in-down">
            <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Sala de musculación privada y monitoreada</h2>
                    <p class="font-italic text-muted mb-4">En Oni's Temple, entendemos la importancia de tener un espacio personal para entrenar sin distracciones. Nuestra sala de musculación privada está disponible para su reserva, lo que te garantiza un ambiente tranquilo y controlado. Además, contarás con la asistencia de un monitor de sala altamente capacitado que te brindará orientación, sugerencias y apoyo durante tu entrenamiento.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/img/VSHD_Design1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            </div>
        </div>  
        <div class="bg-white py-5" data-aos="zoom-in">
            <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Entrenadores personales especializados</h2>
                    <p class="font-italic text-muted mb-4">Sabemos que cada persona es única y tiene diferentes necesidades y metas. Es por eso que ofrecemos servicios de entrenadores personales altamente calificados. Nuestros entrenadores te proporcionarán un plan de entrenamiento personalizado, adaptado a tus objetivos específicos y tus capacidades físicas. Su experiencia y motivación te guiarán en cada paso del camino, asegurándose de que alcances tus metas de manera segura y eficiente.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/img/hany.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            </div>
        </div>
        <div class="bg-white py-5" data-aos="fade-left">
            <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Cálculo del IMC y porcentaje graso estimado</h2>
                    <p class="font-italic text-muted mb-4">En Oni's Temple, nos preocupamos por tu bienestar general. Por eso, te ofrecemos la posibilidad de calcular tu Índice de Masa Corporal (IMC) y tu porcentaje graso estimado. Estos datos te brindarán una comprensión más profunda de tu composición corporal y te ayudarán a establecer metas realistas y personalizadas. Nuestro equipo estará encantado de explicarte los resultados y ofrecerte orientación adicional en caso de que lo necesites.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/img/5fdcb58029ea143259e2b2ed1735ea1a.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            </div>
        </div>
        <div class="bg-white py-5" data-aos="fade-right">
            <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Registra tus marcas y observa tu progreso</h2>
                    <p class="font-italic text-muted mb-4">El progreso es un aspecto fundamental en cualquier programa de entrenamiento. En Oni's Temple, podrás registrar tus marcas en ejercicios clave como press banca, sentadilla y peso muerto. Utilizando esta información, nuestro programa calculará tu repetición máxima estimada y generará una gráfica personalizada. Esta herramienta te permitirá visualizar tu progreso a lo largo del tiempo y te motivará a superarte día a día.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/img/arnold-blueprint_mass-training_graphics-4.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            </div>
        </div>
        <div class="bg-white py-5" data-aos="fade-up">
            <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <p class="font-italic text-muted mb-4">En Oni's Temple, te ofrecemos una experiencia única en el mundo del fitness. Nuestro enfoque integral y nuestras avanzadas funcionalidades te brindarán las herramientas necesarias para alcanzar tus objetivos de manera efectiva y segura. No importa cuál sea tu nivel de condición física o experiencia, nuestro equipo altamente capacitado estará a tu disposición para ayudarte en cada paso del camino. ¡Únete a Oni's Temple hoy mismo y comienza tu transformación hacia una vida más saludable y enérgica!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
 
    <footer class="bg-dark text-center text-white">
        <footer  th:replace="~{fragments/footer::footer}"></footer>   
    </footer>
  </body>
</html>