<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <style>
        .edit-delt{
            background-color: rgb(110, 0, 0);
            color: white;
        }
        .edit-delt:hover{
            background-color: rgb(99, 99, 99);
            color: white;
        }
        .edit-delt>i{
            font-size: 16px;
        }
    </style>
</head>
<body class="bg-black">
    <nav class="navbar navbar-expand bg-dark navbar-dark bg-opacity-10 p-0" >
        <div class="container m-0 p-0">
            <a class="navbar-brand p-0 m-0" href="portada.html">
                <img src="../static/img/Logo1.png" alt="Bootstrap" width="100" height="100">
            </a>
        </div>
        <div class=" container-fluid d-block opacity-100">
            <ul class="navbar-nav justify-content-center p-0">
                <li class="nav-item text-center">
                    <a href="CTrainerAdmin.html" class="nav-link pe-5 ps-5">Monitores</a>
                </li>
                <li class="nav-item ">
                    <a href="Sala.html" class="nav-link pe-5  ps-5">Sala</a>
                </li>
                <li class="nav-item ">
                    <a href="PTrainerAdmin.html" class="nav-link pe-5 ps-5">Entrenadores</a>
                </li>
            </ul>
        </div>
        <div class=" m-0 p-0 w-100 align-content-end d-grid flex-wrap " >
            <a class="p-0 m-0 align-content-end d-grid position-relative" href="User.html" id="user">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </nav>
    <hr class="m-0"/>
    
    <main class="m-auto min-vh-100">
        <section class="w-75 m-auto mt-5 align-content-end d-flex pb-3">
            <p class="text-light pe-1">AÑADIR ENTRENADOR </p>
            <a th:href="@{/admin/add/CTrainerForm}" class=" btn border edit-delt" ><i class="bi bi-plus-square"></i></a>
        </section>
        <section class="mt-1 ">
            <table class="table-borderless m-auto w-75">
                <tbody>
                    <tr>
                        <td th:each="trainer : ${CTrainerList}">
                            <div class="card">
                                <img class="card-img-top" src="https://img.freepik.com/foto-gratis/retrato-joven-sonriente-gafas_171337-4842.jpg" alt="Card image">
                                <div class="card-img-overlay text-center txt-image opacity-0">
                                    <h4 class="card-title" th:text="${CTrainerList.nombre}">John Doe</h4>
                                    <p class="card-text" th:text="${CTrainerList.descripcion}">Some example text.</p>
                                    <div>
                                        <a th:href="@{/admin/edit/CTrainerForm/{codTrabajador}}" class="card-link btn border-2 border border-black edit-delt" ><i class="bi bi-pencil-square"></i></a>
                                        <a href="#" class="card-link btn border-2 border border-black edit-delt" ><i class="bi bi-trash3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </section>
    </main>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
    
        <div class="">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00ca3d" href="#!"><i class="bi bi-whatsapp"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"><i class="bi bi-github"></i></a>
        </div>
        <ul class="nav w-75 m-0 m-auto justify-content-around pt-5">
            <li class="nav-item ">
                <a href="portada.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item ">
                <a href="aboutUs.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="">Javier Prieto Ortiz</a>
        </div>
    </footer>
</body>
</html>