<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body class="bg-black">
    <nav th:replace="~{fragments/navBar::navBar}"></nav>
    <hr class="m-0"/>
    <main class="min-vh-100">
      <form class="d-flex w-50 m-auto mt-5 mb-5" role="search">
        <input class="form-control me-2" type="search" placeholder="Introduce el nombre" aria-label="search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>

      <div class="w-50 m-auto" id="stars">
          <ul class="d-flex justify-content-between p-0">
              <li class="list-group">⭐</li>
              <li class="list-group">⭐</li>
              <li class="list-group">⭐</li>
              <li class="list-group">⭐</li>
              <li class="list-group">⭐</li>
          </ul>
          <input type="range" class="form-range align-middle" min="0" max="4"> 
      </div>
      <h1 class="h1 text-center text-light mt-5 fw-bold">ENTRENADORES</h1>
      <div class="m-auto w-75 ">
          <div id="carouselExample" class="carousel slide m-auto">
              <div class="carousel-inner w-75 m-0 m-auto">
				  <div class="carousel-item active" >
                    <div class="card m-auto" style="width: 18rem;">
                        <img class="card-img-top" src="https://e0.pxfuel.com/wallpapers/434/198/desktop-wallpaper-cbum-cbum-thumbnail.jpg" alt="Card image">
                                <div class="card-img-overlay text-center txt-image opacity-100 mt-5">
                                    <h4 class="card-title text-warning mt-5 fw-bold" >ENTRENADORES</h4>
                                </div>
                   </div>
                <div class="carousel-item " th:each="trainer : ${pTrainerList}">
                  <div class="card m-auto" style="width: 18rem;">
                      <img th:src="${trainer.urlImg}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title" th:text="${trainer.nombre}"></h5>
                        <p class="card-text" th:text="${trainer.apellidos}"></p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Años de experiencia: <span th:text="${trainer.experiencia}"></span></li>
                        <li class="list-group-item">Valoración: <span class="" th:text="${trainer.valoracion}">⭐</span></li>
                        <li class="list-group-item">Precio Mensual: <span th:text="${trainer.precioMensual}"></span></li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link btn border-2 border border-black " id="cont">Contratar</a>
                      </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>
    </main>
    <footer  th:replace="~{fragments/footer::footer}"></footer>
    
    
    
<body>
    
</body>
</html>