<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <style>
        main{
            background-image: url(../static/img/VSHD_Design1.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            font-size: 24px;
        }
        main>section:first-of-type{
            background-color: #FFC700;
            background-repeat: no-repeat;
            background-size: 100%;
            
        }
        h1{
            font-size: 130px;
        }
        span{
            font-size: 32px;
            font-weight: bold;
        }
        #boton>a{
            font-weight: bold;
        }
        
    </style>
</head>
<body class="bg-black">
    <nav class="navbar navbar-expand bg-dark navbar-dark bg-opacity-10 p-0" >
        <div class="container m-0 p-0">
            <a class="navbar-brand p-0 m-0" href="portada.html">
                <img src="../static/img/Logo1.png" alt="Bootstrap" width="100" height="100">
            </a>
        </div>
        <div class=" container-fluid d-block opacity-100">
            <ul class="navbar-nav justify-content-center p-0">
                <li class="nav-item text-center">
                    <a href="CTrainer.html" class="nav-link pe-5 ps-5">Monitores</a>
                </li>
                <li class="nav-item ">
                    <a href="Sala.html" class="nav-link pe-5  ps-5">Sala</a>
                </li>
                <li class="nav-item ">
                    <a href="PTrainer.html" class="nav-link pe-5 ps-5">Entrenadores</a>
                </li>
            </ul>
        </div>
        <div class=" m-0 p-0 w-100 align-content-end d-grid flex-wrap " >
            <a class="p-0 m-0 align-content-end d-grid position-relative" href="User.html" id="user">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </nav>
    <hr class="m-1" />
    <main class="min-vh-100">
        <section class="w-50 h-100 opacity-75 overflow-hidden">
            <div class="opacity-100">
                <h1 class="text-black">TRABAJO</h1>
                <h1 class="text-light">ESFUERZO</h1>
                <h1 class="text-black">CONSTANCIA</h1>
                <p class="text-center text-light w-50 m-0 m-auto">
                    <span class="text-black">RESERVA YA</span> <br />
                    en nuestra sala de musculación contamos con las mejores máquinas, discos calibrados, racks de competición, profesionales dedicados,...
                </p>
                <h1 class="text-black">MOTIVACIÓN</h1>
                <h1 class="text-light">ESFUERZO</h1>
            </div>
            
        </section>
        <section class="position-static m-auto text-center" id="boton">
            <a href="#" class=" btn border-2 border border-black rounded-0 shadow" id="cont">RESERVAR</a>
        </section>
        
    </main>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
    
        <div class="">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #00ca3d" href="#!"><i class="bi bi-whatsapp"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"><i class="bi bi-github"></i></a>
        </div>
        <ul class="nav w-75 m-0 m-auto justify-content-around pt-5">
            <li class="nav-item ">
                <a href="portada.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item ">
                <a href="aboutUs.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Privacy Policy</a>
            </li>
        </ul>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="">Javier Prieto Ortiz</a>
        </div>
      </footer>
    
    
</body>
</html>